<!-- Breadcrumb -->
<% content_for :breadcrumb_tabs do %>
  <li><%= link_to t('job_types.breadcrumb.index'), job_types_path %></li>
  <li class="active">
    <%= t('job_types.breadcrumb.new') if action_name == 'new' %>
    <%= @job_type.name if action_name == 'show' %>
  </li>
<% end %>
<%= render 'breadcrumb' %>
<%= react_component('JobTypeForm') %>

<!--
<button type="button" class="btn btn-default btn-block">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add step
</button>
-->
