<!DOCTYPE html>
<html>
<head>
  <title>Joaquin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'navigation_bar' %>
  <div class="container">
    <%= render partial: 'flash_messages', flash: flash %>
    <% if user_signed_in? %>
    <div class="row">
      <div class="col-md-8">
        <%= yield %>
      </div>
      <div class="col-md-4">
        <%= render 'jobs/summary' %>
        <%= render 'nodes/summary' %>
      </div>
    </div>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</body>
</html>
