<%= form_for(@node, url: { action: @target_action }) do |f| %>
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <%= f.label t('nodes.form.alias') %>
          <%= f.text_field :alias, class: 'form-control' %>
          <p class="help-block"><%= t('nodes.form.alias_desc') %></p>
        </div>
        <div class="form-group">
          <%= f.label t('nodes.form.token') %>
          <%= f.text_field :token, class: 'form-control', readonly: true %>
          <p class="help-block"><%= t('nodes.form.token_desc') %></p>
        </div>
        <% if @target_action == 'update' %>
          <button type="submit" class="btn btn-warning btn-block"><%= t('nodes.form.submit_update') %></button>
          <p></p>
          <%= link_to t('nodes.form.submit_delete'), node_path(@node.id), method: 'delete', class: 'btn btn-danger btn-block' %>
        <% else %>
          <button type="submit" class="btn btn-success btn-block"><%= t('nodes.form.submit_create') %></button>
        <% end %>
        <br>
    </div>
    <div class="col-md-6">
      <%= render 'help' %>
    </div>
  </div>
<% end %>
