<!-- Bradcrumb -->
<% content_for :breadcrumb_tabs do %>
  <li class="active"><%= t('nodes.breadcrumb.index') %></li>
  <%= link_to raw("<span class=\"glyphicon glyphicon-plus\" aria-hidden=\"true\"></span> #{t('nodes.breadcrumb.new')}"), new_node_path, class: 'btn btn-success btn-xs pull-right', role: 'button'  %>
<% end %>
<%= render 'breadcrumb' %>

<!-- Content -->
<%= render 'empty' if @nodes.empty? %>
<% unless @nodes.empty? %>
  <table class="table table-hover">
    <% @nodes.each do |node| %>
      <tr>
        <td class="row-node" data-node-id="<%= node.id %>">
          <p>
            <label><%= node.alias %></label>
            <% if node.status == 'unpaired' %>
            <span class="label label-warning">never paired</span>
            <% elsif node.status == 'online' %>
            <%= "#{node.os}-#{node.system}-#{node.arch}" %>
            <span class="label label-success">online</span>
            <% end %>
          </p>
          Token <code><%= node.token %></code>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
