<!-- Bradcrumb -->
<% content_for :breadcrumb_tabs do %>
  <li class="active"><%= t('nodes.breadcrumb.index') %></li>
  <%= link_to raw("<span class=\"glyphicon glyphicon-plus\" aria-hidden=\"true\"></span> #{t('nodes.breadcrumb.new')}"), new_node_path, class: 'btn btn-success btn-xs pull-right', role: 'button'  %>
<% end %>
<%= render 'breadcrumb' %>

<!-- Content -->
<%= render 'empty' if @nodes.empty? %>
<% unless @nodes.empty? %>
  <table class="table table-hover">
    <% @nodes.each do |node| %>
      <tr class="row-node" data-node-id="<%= node.id %>">
        <td>
          <p>
            <label><%= node.alias %></label>
            <% if node.last_active.nil? %>
            <span class="label label-warning">never paired</span>
            <% end %>
          </p>
          Token <code><%= node.token %></code>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
