<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if user_signed_in? %>
      <a class="navbar-brand" href="#">Joaquin</a>
      <% end %>
    </div>
    <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <%= t('navbar.tab_manage') %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Jobs</a></li>
            <li><%= link_to t('navbar.tab_nodes'), nodes_path %></li>
            <li><a href="#"><%= t('navbar.tab_members') %></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><%= t('navbar.tab_settings') %></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= current_user.email  %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><%= t('navbar.tab_account') %></a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to(t('navbar.tab_logout'), destroy_user_session_path, :method => :delete) %></li>
          </ul>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
</nav>
